# Gradle
.gradle/
build/

# Local config
local.properties

# Logs
*.log

# Android Studio
.idea/
*.iml
captures/
.externalNativeBuild/
.cxx/

# Build outputs
*.apk
*.aab
output-metadata.json

# OS
.DS_Store

# Keystore
*.jks
*.keystore

# Google Services
google-services.json

# Profiling
*.hprof